header {
    position: relative;
}

/* margin */
body {
    margin: 2rem;
}

/* logo size */


nav {
    text-align: center;
    margin-bottom: -30px;
}
.rectangle {
    width: 100%;
    height: 100px;
    background-color:rgb(251, 201, 226);
    margin: 0 auto; /* center the rectangle */
}
.logo {
    height: 15rem;
    width: auto;
    position: absolute;
    top: -60px;
    left: -5%;
}

.categories {
    list-style: none;
    padding-left: 0;
} /* ignoring the dots */

/* change color of links */
.categories li {
    color: #090909;
}

ul {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.nisch {
    text-align: center;
    font-family: "Dawning of a New Day", cursive;
    font-weight: 400;
    font-style: normal;
    color: hotpink;
}

