/* margin */
body {
    margin: 2rem;
}

/* logo size */


nav {
    text-align: center;
    margin-bottom: -30px;
}
.logo {
    height: 15rem;
    width: auto;
}
.rectangle {
    width: 100%;
    height: 150px;
    background-color:rgb(251, 168, 210);
    margin: 0 auto; /* center the rectangle */
}

header nav {
    display: flex;
}
.categories {
    list-style: none;
    padding-left: 0;
} /* ignoring the dots */

/* change color of links */
.categories li {
    color: #080808;
}

ul {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}