body {
    margin: 0rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* header and menu bar */
header {
    position: sticky;
    top: 0;
}

.top-bar {
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(249, 202, 222);
}


.logo {
    margin-left: 5rem;
    font-family: "WindSong", cursive;
        font-weight: 400;
        font-size: 40px;
        font-style: normal;
    color: rgb(120, 23, 46);
}

.icons {
    display: flex;
    gap: 20px;
    padding-right: 70px;

}
.icons img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.categories {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(120, 23, 46);
    height: 30px;

}
.categories li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    color: rgb(249, 202, 222);
}



/* Start page */
.start-page-image img {
    width: 100%;
    height: auto;
    margin-top: 0.5rem;
    object-fit: cover;
    max-width: 100%;
}
    
.info {
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.content {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: stretch;
    gap: 1rem;
    max-width: 900px;
    width: 100%;
}

.content-image img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    padding-top: 1rem;
    border-radius: 5px;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text h1 {
    font-size: 1.2rem;
    margin-bottom: 0rem;
    color: rgb(120, 23, 46);
}
.text p {
    margin-left: 1rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
}

h3 {
    padding-left: 3rem;
    font-family: "WindSong", cursive;
        font-weight: 400;
        font-size: 20px;
        font-style: normal;
}

.new-launches {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
    margin: 1rem;
}
.shopping img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.shopping {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
    .title {
        margin: 0rem
    }
    .price {
        margin: 0;
    }
}
.shop {
    background-color: rgb(254, 195, 220);
    padding: 5px 70px;
    margin-top: 5px;
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color:rgb(241, 240, 240)
}


/* cart */
.cart {
    font-size: 25px;
    padding-left: 2rem;
     font-family: Georgia, 'Times New Roman', Times, serif
}
.cart-text {
    font-size: 20px;
    padding-left: 1rem;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.cart-items {
    display: grid;
    grid-template-columns: auto;
    
}


/* products */
h1 {
    margin-left: 2.5rem;
    margin-top: 2rem;
    font-family: "WindSong", cursive;
        font-weight: 400;
        font-size: 20px;
        font-style: normal;
    
}
.product-side {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 1500px;
    width: 100%;
}

.product1, .product2, .product3, .product4, .product5, .product6, .product7, .product8 {
    text-align: center;
    color: black;
    margin: 1rem;
}
a {
    text-decoration: none;
    color: inherit;
}

.product-side img {
    width: 220px;
    height: 300px;
    object-fit: cover;
}




/* product */ 

