body {
    margin: 0rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
}

/* header and menu bar */
header {
    position: sticky;
    top: 0;
}

.top-bar {
    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(249, 202, 222);
}
.logo {
    height: 10rem;
    width: auto;
    margin-top: 10px;
    padding-left: -100px;   
}
.icons {
    display: flex;
    gap: 20px;
    padding-right: 70px;

}
.icons img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.categories {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(120, 23, 46);
    height: 30px;

}
.categories li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    color: rgb(249, 202, 222);
}



/* Start page */
.start-page-image img {
    width: 100%;
    height: auto;
    margin-top: 0.5rem;
    object-fit: cover;
    max-width: 100%;
}
    
.info {
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.content {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: stretch;
    gap: 1rem;
    max-width: 900px;
    width: 100%;
}

.content-image img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    padding-top: 1rem;
    border-radius: 5px;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text h1 {
    font-size: 1.2rem;
    margin-bottom: 0rem;
    color: rgb(120, 23, 46);
}
.text p {
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
}

h3 {
    padding-left: 3rem;
}

.new-launches {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
    margin: 1rem;
}
.products img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
    .title {
        margin: 0rem
    }
    .price {
        margin: 0;
    }
}
.shop {
    background-color: rgb(254, 195, 220);
    padding: 5px 70px;
    margin-top: 5px;
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color:rgb(241, 240, 240)
}


/* cart */
h1 {
    font-size: 25px;
    padding-left: 2rem;
}
h2 {
    font-size: 20px;
    padding-left: 1rem;
}
h3 {
    font-size: 20px;
    padding-left: 1rem;
    background-color:rgb(251, 203, 223);
    
}

/* products */


/* product */ 

