/* margin */
body {
    margin: 2rem;
}

/* logo size */
.logo {
    height: 1.5rem;
}

.categories ul {
    list-style: none;
    padding-left: 0;
} /* ignoring the dots */

/* change color of links */
.categories li {
    color: #080808;
}

